@import "normalize.css";

/*
 * ## clearfix
 *
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * ## type
 *
 */

.board-font {
  font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;
  line-height: 100%;
}

.board-size {
  font-size: 1.8rem;
}

/*
 * ## misc.
 *
 */

body {
  background: #111;
  color: #f5f5f5;
}

.dim {
  opacity: 0.80;
}
